{% extends "base.html" %} 

{% load i18n %} {% load account socialaccount %} 

{% block head_title %}{% trans "Login" %}{% endblock head_title %} 
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Login" %}</h3>
            <p>
                {% blocktrans %}Welcome to the Audiotown Music Blog. If you have not created an account yet,
                then please click on
                <a class="blog-link" href="{{ signup_url }}">Signup</a> first.{% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <div class="card">
                <div class="card-body">
                    
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %} {{ form | crispy }} {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-dark btn-signup right" type="submit">
                            {% trans "Login" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
