@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Serif', serif;
}

.navbar {
    font-size: larger;
}

/* Masthead design adopted from Code Institute's 'I think therefore I Blog' Django project */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}
/* End of adopted code */

.blog-link {
    color: #212529;
    text-decoration: none;
}

.blog-link:hover {
    color: #E84610;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

footer {
    margin-top: auto;
}

.img-responsive {
    width: 20rem;
    height: 20rem;
}

#username {
    font-size: large;
    font-weight: bold;
}

#full_name {
    font-weight: bold;
}

#about {
    background: #212529;
    color: #fff;
}

.posts {
    font-size: large;
}

#delete_post {
    background: #212529;
}

.img-style {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #212529;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.pic-style {
    height: 300px;
    width: fit-content;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #212529;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.image-container {
    position: relative;
}



.blogs-card {
   margin: 0.6rem;
   margin-right: 2rem;
   display: flex;
   height: 100%;
   flex-direction: column;
}

.blogs-card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    flex-grow: 1;
    font-size: larger;
    
}


.blogs-style {
    height: 100%;
}



.page {
    margin-top: 5rem;
    margin-left: 0.8rem;
}

.input-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}



