body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background: url('https://res.cloudinary.com/dvfxz4as6/image/upload/v1698269717/textile-2918844_1920_r0jwss.jpg') no-repeat center; */
    background-size: cover;
}

.navbar {
    font-size: larger;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


a {
    color: #23BBBB;
    text-decoration: none;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

footer {
    margin-top: auto;
}

.img-responsive {
    width: 20rem;
    height: 20rem;
}

#username {
    font-size: large;
    font-weight: bold;
}

#full_name {
    font-weight: bold;
}

#about {
    background: #212529;
    color: #fff;
}

#delete_post {
    background: #212529;
}

.img-style {
    height: 300px;
    width: 320px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #212529;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.pic-style {
    height: 300px;
    width: fit-content;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #212529;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.image-container {
    position: relative;
}


.card-text {
    font-size: larger;
}
