{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h1 class="card-title">Welcome to the Audiotown Music Blog, {{ user.username }}!</h1>
            {% else %}
            <h1 class="card-title">Welcome to the AudioTown Music Blog</h1>
            <p class="card-text">To view music blogs, click on <a href="{% url 'blogs' %}"
                    class="blog-link">Blogs</a></p>
            <p class="card-text">To like or comment on a blog, click on
                <a href="{% url 'account_signup' %}" class="blog-link">Signup</a> if you are a new user or click
                on <a href="{% url 'account_login' %}" class="blog-link"> Login</a> if you already have an account
            </p>
            {% endif %}
        </div>
        <img src="https://res.cloudinary.com/dvfxz4as6/image/upload/v1698241399/guitar-strings_cfmrle.jpg"
            class="card-img-bottom" alt="Guitar strings">
    </div>
</div>

  {% endblock %}
