{% extends 'base.html' %} 

{% block content %}

<section class="main-section container mt-4">
  <h1 class="display-4">Welcome to the AudioTown Music Blog website.</h1>
  <p class="fs-5">
    To view music blogs, click on <a href="" class="text-primary">Blogs</a>
  </p>
  <p class="fs-5">
    To like or comment on a blog, click on
    <a href="" class="text-primary">Signup</a> if you are a new user or click
    on <a href="" class="text-primary"> Login</a> if you already have an account
  </p>
</section>

  {% endblock %}
</section>
