{% extends 'base.html' %} 

{% block content %}
<h2>Blogs</h2>
<div class="blogs">
  {% for blog in blogs %}
  <div class="blog">
    <h3>
      <a href="{% url 'blog' blog.slug  %}">{{blog.title}}</a>
    </h3>
    <p>{{blog.blog_snippet | safe}}</p>
    <p>{{blog.created_date}}</p>
  </div>
  {% endfor %}
  <!-- Pagination code -->
<div class="pagination">
    <span class="step-links">
        {% if blogs.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ blogs.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
        </span>
        {% if blogs.has_next %}
        <a href="?page={{ blogs.next_page_number }}">next</a>
        <a href="?page={{ blogs.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock %}
